## libs

In [251]:
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as m
#from scipy.interpolate import interp1d
#import scipy.optimize
import scipy.integrate as integrate

## constants

In [335]:
freq_ion = 3.29 * 10**15 #Herz
freq_max = 5 * 10**16 #Herz
alpha = 2.59E-13 #cm^3 per sec
temperature = 40000 #Kelvins
radius_star = 15 * 6.957E2 / (206264.8 * 149.6* 10**6)#pc
r_inner = 0.05 #pc
step = 0.0001 #pc

c = 299792458.0E2 #cm per sec , light speed
h = 6.626070040812E-27 #erg*sec, Planck constant
k = 1.380648528E-16 #erg/K, Boltzmann constant
nH_total = 100 #cm^(-3)

In [337]:
freq = np.linspace (freq_ion, freq_max, 300)
freq_tau = pd.DataFrame(data = {"freq" : freq, "tau" : np.full(300, 0)})
result = pd.DataFrame(data = {"r" : [r_inner], "n_e" : [100]})
r_previous = r_inner
r_current = r_inner + step 
check = True

## functions

In [338]:
def brightness(freq):
    """mean brightness"""
    return 2 * h * freq**3 / c**2 / (np.exp(h * freq / (k * temperature)) - 1) 
    
def sigma(freq):
    """return photoionization cross section"""
    return 6.3E-12 * np.power (freq_ion / freq, 3)

def tau_plus(freq, nH_neutral):
    """opacity on distance r"""
    return nH_neutral * sigma(freq) * step * (206264.8 * 149.6 * 10**12)

def intensity(freq,r):
    """mean intensity Iν as a function of frequency"""
    return 0.25 * brightness(freq) * (radius_star / r)**2 * np.exp(-tau(freq, r))

In [ ]:
n_e = nH_total
while np.abs(n_e)>0.001:
    check = True
    iteration = 0
    while check:
        PHI = integrate.trapz(m.pi * brightness(freq)  * (radius_star / r_current)**2 * np.exp(-freq_tau["tau"]) * sigma(freq) / (h * freq), freq)
        ksi = PHI / (n_e * alpha)
        nH_neutral = nH_total / (1 + ksi)
        nH_ionized = nH_total * ksi / (1 + ksi)
        n_e_new = np.sqrt(n_e * nH_ionized)
        nH_neutral = nH_total - n_e_new
        freq_tau["tau"] = tau_plus(freq, nH_neutral)
        if np.abs(n_e_new/n_e - 1) < 0.1E-5:
            n_e = n_e_new
            result = result.append(pd.DataFrame(data = {"r" : [r_current], "n_e" : [n_e]}), ignore_index = True)
            check = False
        else:
            n_e = n_e_new
            nH_neutral = nH_total - n_e
            iteration +=1
    print(iteration)        
    r_previous = r_current
    r_current += step

In [340]:
result

          r            n_e
0    0.0500   1.000000e+02
1    0.0501   1.000000e+02
2    0.0502   9.999999e+01
3    0.0503   9.999999e+01
4    0.0504   9.999999e+01
5    0.0505   9.999999e+01
6    0.0506   9.999999e+01
7    0.0507   9.999999e+01
8    0.0508   9.999999e+01
9    0.0509   9.999999e+01
10   0.0510   9.999999e+01
11   0.0511   9.999999e+01
12   0.0512   9.999999e+01
13   0.0513   9.999999e+01
14   0.0514   9.999999e+01
15   0.0515   9.999999e+01
16   0.0516   9.999999e+01
17   0.0517   9.999999e+01
18   0.0518   9.999999e+01
19   0.0519   9.999999e+01
20   0.0520   9.999999e+01
21   0.0521   9.999999e+01
22   0.0522   9.999999e+01
23   0.0523   9.999999e+01
24   0.0524   9.999999e+01
25   0.0525   9.999999e+01
26   0.0526   9.999999e+01
27   0.0527   9.999999e+01
28   0.0528   9.999999e+01
29   0.0529   9.999999e+01
..      ...            ...
459  0.0959   9.999992e+01
460  0.0960   9.999991e+01
461  0.0961   9.999991e+01
462  0.0962   9.999991e+01
463  0.0963   9.999991e+01
464  0.0964   9.999991e+01
465  0.0965   9.999991e+01
466  0.0966   9.999991e+01
467  0.0967   9.999991e+01
468  0.0968   9.999990e+01
469  0.0969   9.999990e+01
470  0.0970   9.999990e+01
471  0.0971   9.999990e+01
472  0.0972   9.999990e+01
473  0.0973   9.999989e+01
474  0.0974   9.999989e+01
475  0.0975   9.999989e+01
476  0.0976   9.999988e+01
477  0.0977   9.999988e+01
478  0.0978   9.999987e+01
479  0.0979   9.999987e+01
480  0.0980   9.999986e+01
481  0.0981   9.999985e+01
482  0.0982   9.999984e+01
483  0.0983   9.999983e+01
484  0.0984   9.999981e+01
485  0.0985   9.999978e+01
486  0.0986   9.999973e+01
487  0.0987   9.999963e+01
488  0.0988  5.447107e-129

[489 rows x 2 columns]

In [297]:
check = True
while check:
    PHI = integrate.trapz(m.pi * brightness(freq)  * (radius_star / r_current)**2 * np.exp(-freq_tau["tau"]) * sigma(freq) / (h * freq), freq)
    ksi = PHI / (n_e * alpha)
    nH_neutral = nH_total / (1 + ksi)
    nH_ionized = nH_total * ksi / (1 + ksi)
    n_e_new = np.sqrt(n_e * nH_ionized)
    nH_neutral = nH_total - n_e_new
    freq_tau["tau"] = tau_plus(freq, nH_neutral)
    if np.abs(n_e_new/n_e - 1) < 0.1E-3:
        n_e = n_e_new
        result = result.append(pd.DataFrame(data = {"r" : [r_current], "n_e" : [n_e]}), ignore_index = True)
        check = False
    else:
        n_e = n_e_new
        nH_neutral = nH_total - n_e

In [298]:
result

        r         n_e
0  0.0500  100.000000
1  0.0501   99.999996
2  0.0502   99.999993